.competition-desc {
	font-family: Raleway, Helvetica, sans-serif;
	font-size: 0.8em !important;
	font-weight: 200;
	letter-spacing: 0.1em;
	line-height: 2;
	text-transform: none !important;
}

.competition-heading {
	text-align: center !important;
}

.comp-heading{
	text-align: center !important;
	border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    font-size: 2em;
    margin-bottom: 0.8em;
    padding-bottom: 0.4em;
}

@media screen and (min-width: 1280px){
	.prize{
		width: 50% !important;
		height: auto;
	}
	.prize-row{
		padding-left: 5%;
		padding-right: 5%;
	}
}

.center-footer-heading{
	text-align: center;
}

.sponsor-link{
	border-bottom: none;
}

.sponsor-link:hover{
	border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
}

.form-alert{
	color: red !important;
}
.competition-text{
	padding-top: 25%;
	padding-bottom: 25%;
}
.custom-heading{
	text-transform: none;
	font-size: 1.5em !important;
}

@media screen and (max-width: 736px){
	.custom-heading{
		text-transform: none;
		font-size: 1em !important;
	}
}